			body {
				font-family: "Open Sans", Arial, sans-serif;
				background-color: #e5e5e5;
				line-height: 18px;
				margin: 0;
	    		font-size: 1.00rem;
			}
			a {
				text-decoration: none;
				font-size: 1rem;
				color: #262626;
			}
			a:hover {
				text-decoration: underline;
			}
	/*header begin*/
		/*header top begin*/
			.header {
				width: 100%;
				top: 0;
				right: 0;
			}
			.header-top {
				width: 100%;
				background-color: #fff;
				box-shadow: 0px 3px 4px 1px rgba(50,50,50,0.5);
				height: 112px;
			}
			.header-top-content {
				width: 70%;
				max-width: 1150px;
				padding: 15px;
				margin: auto;
			}
			.header-logo {
				float: left;
			}
			.header-logo img {
				max-height: 65px;
			}
			.header-logo span a {
				font-weight: bold;
			}
			.header-logo > a:hover {
				text-decoration: none;
			}
			.header-search {
				float: right;
			}
			.header-search-button, .header-search-icon {
				display: inline-block;
			}
			.header-search-button:hover .header-search_circle, .header-search-button:hover .header-search_rectangle, .header-search-button:hover .header-search-button-text {
				border-color: #333;
				color: #333;
			}
			.header-search-button-text, .header-search-icon_1 {
				display: inline-block;
			}
			.header-search-button-text {
				font-size: 17.5px;
				font-weight: bold;
				margin: 5px;
			}
			.header-search-expanded {
				display: table;
				position: relative;
				top: -25px;
			}
			.header-search-expanded-text {
				margin: 0 5px 0 0;
			}
			.header-search-input, .header-search-expanded-text, .header-search-icon_2 {
				display: inline-block;
			}
			.header-search-adv {
				display: block;
				position: relative;
				left: -4px;
			}
			.header-search-adv a {
				color: #333;
				font-size: 12px;
				float: right;
			}
			.header-search-icon_2 {
				height: 19px;
				width: 30px;
				border: 7px solid #000;
				position: relative;
				top: 2px;
				left: -5px;
				cursor: pointer;
			}
			.header-search-icon_2:hover {
				border-color: #333;
				background-color: #333;
			}
			.header-search-input {
				height: 25px;
				font-size: 16px;
				color: #565656;
				background-color: #fff;
				padding: 3px 0px 3px 3px;
				margin: 5px 1px 3px 0px;
				border: 1px solid #ccc;
				z-index: 2;
			}
			.header-search-input:focus, .header-search-input:hover {
				box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
				padding: 3px 0px 3px 3px;
				margin: 5px 1px 3px 0px;
				border: 1px solid rgba(102,175,233,0.6);
			}
			.header-search-button {
				background-color: #fff;
				cursor: pointer;
				border: 0;
				/*padding: 5px 0 0 0;*/
				/*margin: 20px 0 0 0;*/
			}
			#search-expanded {
				display: none;
			}
			.header-search-expanded-text {
				font-size: 16.8px;
				font-weight: 600;
				color: #333;
			}
		/*header top end*/
		/*search icon begin*/
			.header-search-icon_1 {
				position: relative;
				width: 22px;
				margin: 0 auto;
				padding: 2px 0;
				text-align: center;
			}
			.header-search_circle_1 {
				width: 12px;
				height: 12px;
				border: 3px solid #000;
				border-radius: 100px;
			}
			.header-search_rectangle_1 {
				position: absolute;
				left: 13px;
				top: 18px;
				width: 5px;
				transform: rotate(45deg);
				border: 2px solid #000;
				border-top-right-radius: 12px;
				border-bottom-right-radius: 12px;
			}
			.header-search-icon_2 {
				position: relative;
				margin: auto;
				text-align: center;
				background-color: #000;
				color: #fff;
				font-size: 20px;
			}
		/*search icon end*/
		/*header bottom begin*/
			.header-bottom {
				background-color: #000;
				color: #fff;
				box-shadow: 0px 3px 4px 1px rgba(50,50,50,0.5);
			}
			.header-bottom-content {
				width: 70%;
				max-width: 1150px;
				margin: auto;
			}
			.header-bottom-list {
				list-style-type: none;
				margin: 0;
				padding: 0 0 0 15px;
				overflow: hidden;
			}
			.header-bottom-list li {
				float: left;
				padding: 1rem;
				cursor: pointer;
			}
			/*.header-browse-button {
				background-color: #fff;
				color: #000;
			}*/
			.arrow {
				border: solid #fff;
				border-width: 0 1px 1px 0;
				display: inline-block;
				padding: 2px;
				position: relative;
				top: -4px;
			}
			.arrow:hover {
				border-color: #000 !important;
			}
			.arrow-down {
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
			}
			.header-events:hover, .header-browse-button:hover {
				background-color: #fff;
				color: #000;
			}
			.header-browse-button:hover > .arrow {
				border-color: #000;
			}
		/*header bottom end*/	
		/*header dropdown begin*/
			.dummy-dropdown {
				display: none;
				z-index: 2;
			}
			.header-dropdown {
				width: 100%;
				position: absolute;
				background-color: #f8f8f8;
				height: 250px;
				box-shadow:  0 6px 12px rgba(0,0,0,0.175);
			}
			.header-dropdown-content {
				margin: auto;
				/*width: 70%;*/
				max-width: 1150px;
				padding: 30px 15px 30px 15px;
			}
			.header-dropdown-content ul {
				list-style-type: none;
				border-right: 1px solid #cccac8;
				float: left;
				box-sizing: border-box;
				padding: 0 20px 0 0;
				margin: 0 20px 0 0;
				display: block;
				height: 200px;
			}
			.header-dropdown-listheader {
				text-transform: uppercase;
				margin: 0 0 10px 0;
			}
			.header-dropdown-listitem {
				padding: 8px 15px;
				margin-left: 15px;
			}

			.header-dropdown-listitem a {
				font-size: 14px;
			}
			.header-dropdown-browsetext {
				margin: 0 30px 0 0;
			}
			.show {
				display: inline;
				visibility: visible;
			}
		/*header dropdown end*/
		/*header modal begin*/
			.header-modal {
				display: inline-block;
			}
			.header-modal-button-menu, .header-modal-button-events {
				padding: 10px 1rem;
				border: 0;
				background-color: #fff;
				font-size: 0.75rem;
			}
			.header-modal-button-events {
				border-left: solid 1px #e4e4e4;
			}
			.modal {
				display: none; /* Hidden by default */
				position: fixed; /* Stay in place */
				z-index: 1; /* Sit on top */
				left: 0;
				top: 0;
				width: 100%; /* Full width */
				height: 100%; /* Full height */
				overflow: auto; /* Enable scroll if needed */
			    background-color: #000; /* Fallback color */
			}
			.modal-content {
				margin: auto;
				background-color: #f8f8f8;
				width: 75%;
				padding: 1rem;
				position: relative;
				top: 200px;
			}
			.modal-title {
				/*background-color: #fff;*/
			}
			.modal-title h2, .modal-content h4 {
				font-size: 16px; 
				font-weight: 300;
			}
			.modal-close {
				background-color: #fff;
				position: fixed;
				top: 0;
				right: 20px;
				padding: 5px 10px;
				cursor: pointer;
				border-radius: 0 0 5px 5px;
			}
			.modal-close:hover {
				background-color: #000;
				color: #fff;
			}
			.modal-content h4 {
				font-size: 16px;
				text-transform: uppercase;
				margin: 0;
			}
			.modal-content h4, .modal-content a {
				color: #3f4344;
			}
			.modal-content ul {
				list-style-type: none;
			}
			.modal-content li {
				font-size: 18px;
				line-height: 45px;
			}
			.modal-content a {
				margin-left: 30px;
			}
		/*header modal end*/
	/*header end*/
	/*collapsible sidebar begin*/
			.bumper {
				/*position: relative;*/
				display: block;
				width: 100%;
				padding-top: 20px;
			}
			.navmenu-c, .navbutton {
				background-color: #000;
				color: #fff;
			}
			.navmenu-c {
				width: 230px;
				display: table-cell;
			}
			.navbutton {
				width: 49px;
				height: 53px;
				background-color: #e5e5e5;
			}
			.navmenu-c-header {
				display: table;
				width: 100%;
				height: 53px;
				vertical-align: middle;
				border-bottom: 1px solid #eee;
			}
			.navmenu-c-header-title {
				display: table-cell;
				font-weight: normal;
				vertical-align: middle;
				padding-left: 40px;
				padding-right: 10px;
				width: 131px;
				line-height: 16px;
				font-size: 1.00rem;
			}
			.navmenu-c-toggle-button, .navbutton-toggle-button {
				display: table;
				width: 49px;
				height: 53px;
				background: #000;
				color: #fff;
				border: 1px solid transparent;
				margin-left: 0px;
			}
			.navmenu-c-toggle-right-image, #left-sidebar-button {
				display: none;
			}
			.navmenu-c-list {
				list-style: none;
				padding: 0;
				margin: 0 15px 20px 40px;
				vertical-align: middle;
			}
			.navmenu-c-list li {
				margin: 12px 0 12px 0;
			}
			.navmenu-c-list a {
				text-decoration: none;
				color: #fff;
			}
			.navmenu-c-list a:hover {
				text-decoration: underline;
			}
			.navmenu-c-otherlinks, .navmenu-c-corelinks {
				/*padding: 5px 0 0 29px;*/
			}
			.navmenu-c-otherlinks {
				border-top: 1px dashed #fff;
				padding-bottom: 20px; 
			}
			.navmenu-c-otherlinks-header {
				padding: 15px 0 10px 40px;
				margin-bottom: 5px;
			}
			.navmenu-c-otherlinks-header span {
				text-transform: uppercase;
				font-size: 0.88rem;
				line-height: 1.25;
			}
			.hamburger {
				width: 20px;
				height: 3px;
				background-color: #FFF;
				margin: 4px 0;
				border-radius: 25px;
			}
			.triangle-left, .triangle-right {
				display: inline-block;
				width: 0;
				height: 0;
				margin: 8px 0;
				/*border-color: #fff;*/
			}
			.triangle-left {
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				border-right: 5px solid #fff;
			}
			.triangle-right {
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				border-left: 5px solid #fff;
			}
			.hamburger-x3 {
				display: inline-block;
			}
	/*collapsible sidebar end*/
	/*fixed sidebar begin*/
			.body-full-f {
				width: 80%;
				margin: auto;
			}
			.body-full-c {
				width: 100%;
				margin: auto;
			}
			.bumper {
				/*position: relative;*/
				display: block;
				width: 100%;
				padding-top: 20px;
			}
			.navmenu-f {
				background-color: #000;
				color: #fff;
				display: inline-block;
			}
			.navmenu-f-header {
				display: table;
				width: 100%;
				height: 53px;
				vertical-align: middle;
				border-bottom: 1px solid #eee;
			}
			.navmenu-f-header-title {
				display: table-cell;
				font-weight: normal;
				vertical-align: middle;
				padding-left: 40px;
				padding-right: 10px;
				width: 131px;
				line-height: 16px;
				font-size: 1.00rem;
			}
			.navmenu-f-toggle-button, .navbutton-toggle-button {
				display: block;
				width: 49px;
				height: 53px;
				background: #000;
				color: #fff;
				border: 1px solid transparent;
				margin-left: 0px;
			}
			.navmenu-f-toggle-right-image, #left-sidebar-button {
				display: none;
			}
			.navmenu-f-list {
				list-style: none;
				padding: 0;
				margin: 0 15px 20px 40px;
				vertical-align: middle;
			}
			.navmenu-f-list li {
				margin: 12px 0 12px 0;
			}
			.navmenu-f-list a {
				text-decoration: none;
				color: #fff;
			}
			.navmenu-f-list a:hover {
				text-decoration: underline;
			}
			.navmenu-f-otherlinks, .navmenu-f-corelinks {
				/*padding: 5px 0 0 29px;*/
			}
			.navmenu-f-otherlinks {
				border-top: 1px dashed #fff;
				padding-bottom: 20px; 
			}
			.navmenu-f-otherlinks-header {
				padding: 15px 0 10px 40px;
				margin-bottom: 5px;
			}
			.navmenu-f-otherlinks-header span {
				text-transform: uppercase;
				font-size: 0.88rem;
				line-height: 1.25;
			}
	/*fixed sidebar end*/
	/*content begin	*/
		/*content card begin*/
			.content-card {
				background-color: #fff;
				width: 290px;
				min-height: 400px;
				max-width: 290px;
				border-radius: 4px;
				box-shadow: 4px 3px 5px -4.5px #3f4344;
				/*float: left;*/
				position: relative;
				vertical-align: top;
				overflow: hidden;
				z-index: -1;
				margin: 10px 0;
			}
			.content-card-header {
				text-transform: uppercase;
				vertical-align: top;
				font-size: 0.75rem;
				line-height: 12px;
				color: #3f4344;
				margin-bottom: 5px;
			}
			.content-card-image {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 185px;
				overflow: hidden;
			}
			.content-card-image img {
				vertical-align: bottom;
				min-height: 185px;
				width: 100%;
				height: auto;
			}
			.content-card-text {
				padding: 10px 10px 5px 10px;
				font-size: 14px;
	    		position: relative;
			}
			.content-card-text h3 {
				margin: 0;
				/*test: 0;*/
			}
			.content-card-title a {
				text-decoration: none;
				color: #000;
			}
			.content-card-title a:hover {
				color: #2d63af;
				/*text-decoration: underline;*/
			}
			.content-card-copy {
				padding-top: 10px;
				/*font-size: 100%;*/
			}
		/*content card end*/
		/*masonry begin*/
			@media only screen and (min-width: 600px) {
				.masonry { 
	        		width: 95%;
					column-count: 1; 
				}
			}
			@media only screen and (min-width: 975px) {
				.masonry { 
	        		width: 90%;
					column-count: 2; 
				}
			}
			@media only screen and (min-width: 1175px) {
				.masonry { 
	        		width: 80%;
					column-count: 2; 
				}
			}
			@media only screen and (min-width: 1325px) {
				.masonry {
	        		width: 90%;
					column-count: 3; 
				}
			}
			@media only screen and (min-width: 1600px) {
				.masonry {
	        		width: 95%;
					column-count: 4; 
				}
			}
			@media only screen and (min-width: 1700px) {
				.masonry {
	        		width: 85%;
					column-count: 4; 
				}
			}
			@media only screen and (min-width: 1900px) {
				.masonry {
	        		width: 75%;
					column-count: 4; 
				}
			}
	        .masonry { /* Masonry container */
				max-width: 1450px;
	            column-gap: 1.5rem;
				margin: auto;
	        }
	        .item { /* Masonry bricks or child elements */
	            display: inline-block;
	        }
		/*masonry end*/
			.main-content-c {
				display: table-cell;
				padding: 20px;
			}
		/*content end*/
		/*main content begin*/
			.main-content-f {
				display: inline-block;
				vertical-align: top;
				max-width: 725px;
				margin: 0;
			} 
			.main-content-f, .blogs, .events {
				background-color: #fff;
				padding: 25px;
				box-shadow: 0 3px 6px rgba(0,0,0,0.16);
			} 
			.main-content-f, .main-content-f-title {
				margin: 0 10px 0 20px;
			}
			.main-content-f-title:hover {
				color: #2d63af;
			}
			.main-content-f-title {
				padding-bottom: 20px;
				cursor: pointer;
			}
			.location-card {
				/*width: 400px;*/
				/*border: 1px solid #e5e5e5;*/
				padding: 20px;
				margin: auto;
				display: table-cell;
			}
			.location-card img {
				width: 100%;
				margin: auto;
			}
			.location-card figcaption, .rights {
				color: #666;
				font-size: 0.75rem;
			}
			.contact-list dt, .contact-list dd {
				margin: 0;
				padding: 0 0 3px 0;
				line-height: 19px;
			}
			.contact-list dt {
				font-weight: bold;
			}
			.contact-list dd {
				color: #3f4344;
				font-size: 0.88rem;
			}
			.main-content-f input {
				display: none;
				visibility: hidden;
			}
			#expand-nnhc, #expand-mrc {
				height: 0px;
				overflow: hidden;
				transition: height 0.5s;
			}
			#toggle-nnhc:checked ~ #expand-nnhc, #toggle-mrc:checked ~ #expand-mrc {
				height: auto;
				padding: 20px 15px 30px 15px;
				margin: 10px; 
				border-top: 1px solid #ccc;
			}
			.raquo-blue {
				color: #2d63af;
				font-size: 1.25rem;
			}
			.raquo-blue:hover {
				text-decoration: none;
			}
			.browse-section {
				margin: auto;
			}
			.browse-collection-button, .browse-filteredlinks {
				display: inline-block;
			}
			.browse-filteredlinks {
				width: 50%;
				padding: 20px;
				margin: 10px;
				color: #333;
			}
			.browse-filteredlinks a {
				font-weight: bold;
			}
			.browse-collection-button {
				width: 30%;
				position: relative;
				top: -75px;
				/*margin: auto;*/
				/*vertical-align: middle;*/
				padding: 15px;
				border: 0;
				background-color: #2a6496;
				border-radius: 5px;
				color: #fff;
				font-size: 16px;
				cursor: pointer;
			}
			.browse-collection-button:hover {
				background-color: #428bca;
			}
			.main-richcopy {
				text-indent: 50px;
			}
		/*main content end*/
		/*image gallery begin*/
			.image-gallery {
				overflow: hidden;
			}
			.image-gallery > img {
				width: 90%;
				margin: auto;
				padding: 20px 10px 0 10px;
			}
			.image-gallery figcaption {
				color: #666;
				padding: 0 10px;
				font-size: 0.75rem;
			}
			.image-gallery-thumbs {
				margin: auto;
				padding: 20px 10px;
				width: 20%;
				display: inline-block;
			}
			.image-gallery-thumbs img {
				margin: auto;
				width: 100%;
			}
		/*image gallery end*/
	/*content end*/
	/*right sidebar begin*/
			.right-sidebar {
				vertical-align: top;
				margin: 0 10px;
				/*width: 300px;*/
			}
			.right-sidebar h3 {
				top: 0;
				width: 250px;
				border-bottom: 1px solid #ccc;
				padding-bottom: 20px;
				margin-bottom: 20px;
			}
			.right-sidebar h3 {
				text-transform: uppercase; 
				font-size: 16px;
			}
			.blogs, .events {
				background-color: #fff;
				display: block;
				margin-bottom: 30px;
			}
			.events {
				/*width: 25%;*/
			}
			.events-title h2, .blogs-title h2 {
				color: #3f4344;
				font-size: 16px;
				text-transform: uppercase;
				font-weight: bold;
				padding-bottom: 10px;
			}
			.blogs-title {
				box-sizing: border-box;
				border-bottom: 1px solid #ccc;
			}
			.blogpost-description, .blogpost-author-date {
				font-size: 14px;
			}
			.blogpost-author-date {
				color: #666;
			}
			.blogpost-description {
				color: #3f4344;
			}
			.event, .blogpost {
				margin-top: 16px;
			}
			.blogpost-title {
				margin: 0 0 5px;
			}
			.event-title {
				margin: 0 0 10px;
			}
			.event-title a {
				font-size: 16px;
				font-family: Arial,Helvetica,sans-serif;
			}
			.event-location {
				margin: 5px 0;
			}
			.event-location a, .event-date, .event-time {
				font-size: 12px;
				color: #666;
			}
			.event-datetime {
				border-top: 1px solid #ccc;
				padding: 0;
				margin: 0;
			}
			.event-date, .event-time {
				display: inline-block;
				padding-top: 2px;
			}
			.event-date {
				padding-right: 14px;
				border-right: 1px solid #ccc;
				margin: 0;
			}
			.event-time {
				margin: 0;
				padding-left: 14px;
				/*border-left: 1px solid #ccc;*/
			}
			.raquo {
				color: #2d63af;
				font-size: 18px;
			}
			.events-viewmore, .blogs-viewmore {
				margin: 25px 0 0 0;
			}
			.events-viewmore a, .blogs-viewmore a {
				color: #428bca;
			}
			.events-viewmore a:hover, .blogs-viewmore a:hover {
				color: #2d63af;
			}
	/*right sidebar end*/
	/*footer begin*/
		footer {
			position: relative;
			bottom: 0;
			right: 0;
			left: 0;
			background-color: #fff;
			border-top: 5px solid #000;
		}
		.footer-wrapper {
			width: 100%;
			box-shadow: 0 4px 2px -2px #ccc;
		}
		.footer-top, .footer-bottom {
			width: 60%;
			margin: auto;
			display: table;
		}
		.footer-top h4 {
			font-weight: bold;
			color: #666;
			line-height: 1.5rem;
			margin: 0;
		}
		.footer-internal-links, .footer-external-links, .footer-contact, .footer-bottom-left, .footer-bottom-right {
			display: table-cell;
		}
		.footer-social {
			padding-bottom: 25px;
		}
		/*magic "previous selector" https://stackoverflow.com/a/27993987*/
		.hover-dim i {
			-webkit-filter: brightness(100%);
			-moz-filter: brightness(100%);
			-o-filter: brightness(100%);
			-ms-filter: brightness(100%);
			filter: brightness(100%);
		}
		.hover-dim:hover i {
			-webkit-filter: brightness(75%);
			-moz-filter: brightness(75%);
			-o-filter: brightness(75%);
			-ms-filter: brightness(75%);
			filter: brightness(75%);
		}
		.hover-dim i:hover, .hover-dim i:hover ~ i {
			-webkit-filter: brightness(100%);
			-moz-filter: brightness(100%);
			-o-filter: brightness(100%);
			-ms-filter: brightness(100%);
			filter: brightness(100%);
		}
		.footer-social-icons-fg {
			color: #fff;
		}
		.footer-social-icons-bg-fb {
			color: #3C5B9B;
		}
		.footer-social-icons-bg-tw {
			color: #2E92CF;
		}
		.footer-social-icons-bg-ig {
			color: #5380A5;
		}
		.footer-social-icons-bg-cc {
			color: #90908F;
		}
		.footer-contact {
			padding: 15px;
			position: relative;
			right: 0;
		}
		.footer-contact a {
			color: #fff;
			font-size: 15px;
			font-weight: bold;
			text-decoration: none;
			line-height: 24px;
		}
		.footer-contact a:hover {
			text-decoration: underline;
		}
		.footer-contact-box {
			background-color: #000;
			color: #fff;
			padding: 1px 0.75rem;
			margin: 0 5px 0 0 !important;
			width: 50%;
		}
		.footer-contact-box dd {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 16px;
			line-height: 18px;
		}
		.footer-top ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			border: 0;
		}
		.footer-top li a {
			font-size: 0.94rem;
			color: #3f4344;
		}
		.footer-bottom-left {
			padding: 15px;
		}
		.footer-bottom-right {
			color: #3f4344;
			position: relative;
			right: -23%;
			bottom: 20px;
			line-height: 24px;
			font-size: 0.75rem;
			/*padding: 0 0 20px;*/
		}
		.footer-bottom-right a {
			text-decoration: underline;
			color: #666;
			padding: 10px;
			font-size: 0.94rem;
		}
	/*footer end*/
	/*breakpoints start*/
			/*23%, 68%, 30%*/
			@media all and (min-width:1200px){ 
				.body-full-f {
					width: 80%;
				}
				.navmenu-f {
					width: 20%;
				}
				.main-content-f {
					width: 45%;
				}
				.right-sidebar {
					display: inline-block;
					width: 20%;
				}
				.big {
					display: block;
					visibility: visible;
				}
				.big-inline {
					/*display: inline-block;*/
					visibility: visible;
				}
				.small, .small-inline {
					display: none;
					visibility: hidden;
				}
				.header-logo {
					position: relative;
					/*top: -15px;*/
				} 
				.header-search {
					position: relative;
					top: 25px;
				}
				.header-modal-button-menu, .header-modal-button-events {
					position: relative;
					top: -25px;
				} 
				.header-top {
					height: 112px;
				}
				.header-bottom {
					display: block;
				}
				.header-dropdown-content {
					width: 70%;
				}
				.header-modal-buttons {
					visibility: hidden;
				}
			}
			@media all and (min-width: 960px) and (max-width: 1199px) {
				.body-full-f {
					width: 99%;
				}
				.navmenu-f {
					width: 20%;
				}
 				.main-content-f {
					width: 48%;
				}
				.right-sidebar {
					display: inline-block;
					width: 20%;
				}
				.big {
					display: block;
					visibility: visible;
				}
				.big-inline {
					/*display: inline-block;*/
					visibility: visible;
				}
				.small, .small-inline {
					display: none;
					visibility: hidden;
				}
				.header-logo {
					position: relative;
					top: -5px;
				} 
				.header-search {
					position: relative;
					top: 10px;
				}
				.header-modal-button-menu, .header-modal-button-events {
					position: relative;
					top: -25px;
				} 
				.header-top {
					height: 112px;
				}
				.header-bottom {
					display: block;
				}
				.header-dropdown-content {
					width: 90%;
				}
				.header-modal-buttons {
					visibility: hidden;
				}
			}
			@media all and (min-width: 768px) and (max-width: 959px) { 
				/*hide right sidebar and change header menu*/
				.body-full-f {
					width: 95%;
				}
				.navmenu-f {
					width: 20%;
				}
 				.main-content-f {
					width: 65%;
				}
				.right-sidebar {
					display: none;
				}
				.big, .big-inline {
					display: none;
					visibility: hidden;
				}
				.small {
					display: block;
					visibility: visible;
				}
				.small-inline {
					display: inline-block;
					visibility: visible;
				}
				.header-logo {
					position: relative;
					top: -5px;
				} 
				.header-search {
					position: relative;
					top: 10px;
				}
				.header-modal-button-menu, .header-modal-button-events {
					position: relative;
					top: -25px;
				} 
				.header-top {
					height: 80px;
				}
				.header-bottom {
					display: none;
				}
				.header-modal-buttons {
					visibility: visible;
				}
			}
			@media all and (min-width: 480px) and (max-width: 767px){ 
				/*hide left nav, replace with collapsible*/
				.body-full-f {
					width: 100%;
				}
				.navmenu-f {
					width: 20%;
				}
 				.main-content-f {
					width: 65%;
				}
				.right-sidebar {
					display: none;
				}
				.big, .big-inline {
					display: none;
					visibility: hidden;
				}
				.small {
					display: block;
					visibility: visible;
				}
				.small-inline {
					display: inline-block;
					visibility: visible;
				}
				.header-logo {
					position: relative;
					top: -5px;
				} 
				.header-search {
					position: relative;
					top: 10px;
				}
				.header-modal-button-menu, .header-modal-button-events {
					position: relative;
					top: -25px;
				} 
				.header-top {
					height: 80px;
				}
				.header-bottom {
					display: none;
				}
				.header-modal-buttons {
					visibility: visible;
				}
			}
			@media all and (max-width: 599px) {
				.body-full-f {
					width: 95%;
				}
				.navmenu-f {
					width: 23%;
				}
 				.main-content-f {
					width: 60%;
				}
				.right-sidebar {
					display: none;
				}
				.big, .big-inline {
					display: none;
					visibility: hidden;
				}
				.small {
					display: block;
					visibility: visible;
				}
				.small-inline {
					display: inline-block;
					visibility: visible;
				}
				.header-logo {
					position: relative;
					top: -5px;
				} 
				.header-search {
					position: relative;
					top: 10px;
				}
				.header-modal-button-menu, .header-modal-button-events {
					position: relative;
					top: -25px;
				} 
				.header-top {
					height: 80px;
				}
				.header-bottom {
					display: none;
				}
				.header-modal-buttons {
					visibility: visible;
				}
			}
			@media all and (max-width: 479px) { 
				.body-full-f {
					width: 95%;
				}
				.navmenu-f {
					width: 23%;
				}
 				.main-content-f {
					width: 60%;
				}
				.right-sidebar {
					display: none;
				}
				.big, .big-inline {
					display: none;
					visibility: hidden;
				}
				.small {
					display: block;
					visibility: visible;
				}
				.small-inline {
					display: inline-block;
					visibility: visible;
				}
				.header-logo {
					position: relative;
					top: -5px;
				} 
				.header-search {
					position: relative;
					top: 10px;
				}
				.header-modal-button-menu, .header-modal-button-events {
					position: relative;
					top: -25px;
				} 
				.header-top {
					height: 80px;
				}
				.header-bottom {
					display: none;
				}
				.header-modal-buttons {
					visibility: visible;
				}
			}
	/*breakpoints end*/