
.sidebar a {
	color: #fff;
	text-decoration: none;
}
.sidebar a:hover {
	text-decoration: underline;
}
.sidebar {
	background-color: #000;
	color: #fff;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
}
.fixed {
	display: inline-block;
	width: 300px;
}
.collapse {
	display: inline-block;
	width: 230px;
}
.sidebar-header {
	display: table;
}
.sidebar-title {
	padding: 0 0 0 40px;
	margin-bottom: 10px;
}
.sidebar-title, .sidebar-togglebutton {
	display: table-cell;
}
.sidebar-togglebutton {
	position: relative;
	right: 0;
}
.sidebar-togglebutton button {
	width: 49px;
	height: 53px;
}
.sidebear-header {
	margin: 0 0 8px 40px;
	padding: 15px 0 0 0;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 14px;
}
.sidebar-subj {
	border-top: 1px solid #fff;
}
.sidebar-location, .sidebar-related {
	border-top: 1px dashed #fff;
}
.sidebar-main ul {
	list-style-type: none;
}
.sidebar-list {
	margin: 12px 0;
}

